/**
    @author :: Vikash kashyap <vikashkrkashyap@gmail.com>
    @date :: 30 July 2017
 */
body
{
    font-family: 'Montserrat','Lato','Helvetica Nue','sans-serif';
}

.align-center {
    margin-right:auto;
    margin-left:auto;
}
.navbar-default{
    background: white;
}

.navbar{
    position: fixed;
    margin-bottom: 0!important;
    width: 100%;
    z-index: 999;
}
.navbar-default .navbar-nav>li>a{
    color: #7A7BA6;
    font-size: 17px;
    font-weight: 500;
    transition: color 0.4s ease 0s;
    cursor: pointer;
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgba(84,191,157,1)
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    height: 45px;
}

.category-container{
    height:810px;
    width:100%;
}

.home{
    position: relative;
    top:20px;
    background: url('../image/sa_cover.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay
{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.35);
}


.home-title{
    background: transparent;
    position: relative;
    top:300px;
    color:#FEFDFE;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin-left:30%;
    text-transform: uppercase;
    letter-spacing: 3px;
    z-index: 99;
    font-family: 'Montserrat','Lato','sans-serif';
}
.home-sub-title{
    position: relative;
    text-transform: uppercase;
    top:10px;
    font-weight: bold;
    color: white;
    font-size: 17px;
}
.home-sub-title .word{
 margin:0 7px;
}

.home a {
    text-decoration: none;
    color: whitesmoke;
}
.button-scroll{
    position: relative;
    border: 2px solid #FEFDFE;
    background: transparent;
    font-size: 15px;
    padding: 7px 30px;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;

}
.button-scroll:focus{
    outline: none;
}

.button-scroll:hover{
    background:  rgba(84,191,157,1);
    border-color: rgba(84,191,157,1);

}

.about-section{
    background: #0D1116;
    min-height: 600px;
    color:white;
}

.section-title{
    padding:50px 0 30px 0;
    text-align: center;
    color:white;
}

.section-title span{
    position: relative;
    font-size:50px;
    padding-left: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato','Montserrat','Helvetica Neue';
    letter-spacing: 2px;
}

.section-title span:before
{
    position: absolute;
    content: "";
    width: 46%;
    height: 5px;
    left: 30%;
    bottom: -15px;
    background: whitesmoke;
}

.section-body{
    margin-top:35px;
    text-align: center;
    min-height: 700px;
    height: auto;
}
.section-body .sub-section-body
{
    font-family:sans-serif;
    line-height: 35px;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 5px;
}

.gallery-section
{
    position: relative;
    height: 100%;
    background: #0071BC;
    /*background: url('../image/sa_gallery_2.jpg');*/
    /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}
.overlay-gallery
{
    background: rgba(0, 135, 0, 0.3);
}

.gallery-section .section-title span {
    border-color: white;
    z-index: 99;
}

.gallery-section .section-body
{
    text-align: center;
}

.gallery-sub-section {
    height:500px;
    margin-bottom: 15px;
    z-index: 99;
    box-shadow: 1px 1px 30px 7px rgba(0,0,0,0.15);
}

.gallery {
    overflow: hidden;
}

.gallery img {
    height: 496px;
    cursor: pointer;
}

.section-title{
    padding:75px 40px 0;
    text-align: center;
    color:white;
}

.contact-section
{
    background: #E9E0D6;
    min-height: 750px;
    height: 100%;
}

.contact-section .section-title span:before
{
    background: black;
}

.contact-section .section-title{
    color: black;
}

.contact-section .contact-wrapper
{
    margin-bottom: 15px;
}

.contact-row{
    background: black;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 1);
    height: 520px;

}

.contact-row .logo {
    padding-top:50px;
    text-align: center;
}

.contact-row .mid-text{
    margin-top:25px;
    font-size: 20px;
    color:white;
}

.contact-row .footer{
    background:black;
    color:white;
    font-size: 16px;
    letter-spacing: 1.1px;
    margin-top: 120px;
}

.contact-row .details-text
{
    text-align: left;
    color:white;
    padding-left: 25px;
    padding-top: 70px;
    letter-spacing: 1.1px;
}

.contact-row .details-text .title
{
    text-transform: uppercase;
    font-size: 22px;
}

.contact-row .details-text .sub-title
{
    font-size: 15px;
    padding-top: 5px;
}

.contact-row .social
{
    color:white;
    text-align: center;
    margin-top: 150px;

}

.contact-row .footer-logo{
    margin-top: 70px;
    text-align: right;
}

.contact-bottom-row{
    bottom: 0;
    height:0px;
    background:white;
}

.contact-row .profile-link{
    color:white;
    display: inline;
    margin-right:25px;
}
.contact-row .profile-link img{
    height:50px;
    border-radius: 24px;
    border:2px solid white;
}

.contact-row .profile-link img.sayat
{
    border:none;
}

.review-section{
    background: #f35f5f;
    min-height: 750px;
    height:100%;
}

.review-section .section-body , .review-section .sub-section-body
{
    letter-spacing: normal;
    text-align: left;
    line-height: 1.2;
}

.review-section .review-book
{
    border: 1px solid #000;
    height: 520px;
    background: white;
    padding:10px;
    overflow-y: scroll;
    margin-bottom:  20px;
}


.review-section .review-book .line
{
   border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.review-form
{
    margin-top: 15px;
    padding:10px 20px;
}

.review-section .review-book .line:last-child
{
    border-bottom: none;
}

.review-section .review-text{
    position: relative;
    font-size: 16px;
    color:#333;
    padding:10px 10px 0 10px;
    display: inline-block;
}

.review-section .review-text-left{
    display: inline-block;
    width: 20px;
    height:20px;
    border-radius: 10px;
    color: white;
    background: purple;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    padding-top: 3px;
}

.review-section .review-reply{
    font-size: 16px;
    background: #F5F5F5;
    padding:14px 16px;
    margin-bottom:15px;
}
.review-section .review-footer{
    color: #A0A0A0;
    font-size: 0.8em;
}

.review-input, .review-textarea
{
    margin-top: 20px;
    border:1px solid white;
    background: black;
    padding:10px;
    font-size: 16px;
    width: 100%;
    height: 50px;
    color:white;
}

.review-submit-button
{
    border:1px solid #a24f4f;
    background: white;
    color: black;
    font-size: 18px;
    padding: 15px 20px;
    text-align: center;
    width: 100%;
    margin-top: 25px;
    font-family: Montserrat,Lato,'Helvetica Neue';
}

.review-input:focus, .review-textarea:focus
{
    outline:1px solid white
}

.review-section .review-form-title
{
    font-size:36px;
    color:white;
    font-family:  'Montserrat','Lato';
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.review-textarea
{
    height: 250px;
}

.review-thankyou
{
    background: url('../image/thankyou.jpg');
    position:relative;
    text-align: center;
    height: 520px;
    margin-bottom:  20px;
    padding: 20px;
}

.thankyou-text
{
    z-index: 99;
    padding-top: 200px;
    font-size: 30px;
    color:white;
    height: 100%;
    position: relative;
    line-height: 45px;
    letter-spacing: 1.2px;
}

.footer {
    height:60px;
    text-align: center;
    background: #333;
}

.footer .text {
    padding-top:20px;
    color: white;
}

.footer-link
{
    color:white;
}

.footer-link:hover
{
    text-decoration: none;
    color:white;
    border-bottom: 1px solid white;
}

/** Media query  **/
@media only screen and (max-width: 500px) {
    .home {
       background-position: 35% 20%;
    }
    .home-title{
        margin-left:23%;
    }
}
.in-blk
{
    display: inline-block;
}

.review-error{
    font-size: 13px;
    color: white;
    padding: 3px 0 0 5px;
    margin-bottom: -15px;
}

.bg-red{
    background-color: #925151;
}